
.formBounts {
    margin-top:20px;
    width: 500px;
    justify-content: center;
    height:70vh;
    position:absolute;
    align-items: center;
    padding: 30px;
    border: 3px gold solid;
    background-color: #1a1a2e;
    font-size: 16px;
    margin-bottom:50px;
}

input::placeholder {
    font-size: 12px;
    color:gold;
}

input {
    margin-top: 18px;
    position: relative;
}

label {
    margin-top: 10px;
    position: relative;
}

.textinputId {
    color: gold;
    border-radius: 5px;
    margin: 0;
    border: none;
    width: 250px;
    height: 30px;
    background-color: #22243d;
}

.password {
    color: gold;
    border-radius: 5px;
    border: none;
    width: 250px;
    height: 30px;
    background-color: #22243d;
}

.textinputPhone {
    color: gold;
    border-radius: 5px;
    border: none;
    width: 250px;
    height: 30px;
    background-color: #22243d;
}

.textinputUser {
    color: gold;
    border-radius: 5px;
    border: none;
    width: 250px;
    height: 30px;
    background-color: #22243d;
}

.cities {
    color: gold;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    width: 250px;
    height: 30px;
    background-color: #22243d;
}

.textinputHouseNumber {
    color: gold;
    border-radius: 5px;
    border: none;
    width: 250px;
    height: 30px;
    background-color: #22243d;
}
.streets {
    color: gold;
    border-radius: 5px;
    border: none;
    width: 250px;
    margin-top:10px;
    height: 30px;
    background-color: #22243d;
}

.email {
    color: gold;
    border-radius: 5px;
    border: none;
    width: 250px;
    height: 30px;
    background-color: #22243d;
}

.image {
    color: gold;
    border-radius: 5px;
    border: none;
    width: 250px;
    height: 30px;
    background-color: #22243d;
}
button {
    font-size: 14px;
    color: black;
    border-radius: 5px;
    margin-bottom: 20px;
}

#moreInfoError {
    margin-left: -468px;
}

#cityError {
    top: 330px;
    left: 675px;
}

.submit {
    font-weight: bold;
    margin-left: 75px;
    border: 3px gold solid;
    background-color: #1a1a2e;
    color:white;
    padding: 30px;
}

.error {
    position: absolute;
    font-size: 16px;
    color: red;

}

.clear {
    font-weight: bold;
    margin-left: 125px;
    border: 3px gold solid;
    color: white;
    background-color: #1a1a2e;
    padding: 30px;
}

.clear:hover, 
.submit:hover
{
    color:gold
}
