body 
{
    margin: 0 0 0 0;
    font-family:David;
    width:100%;
    color:white;
    font-size:20px;
}

.header {
    background-color: #1a1a2e;
    height: 100px;
    display:block;
}
i
{
    font-size:28px;
    color:gold;
    margin-left: 1%;
    margin-top: 35px;
}
.headerTitle 
{
    margin-left: 3%;
    margin-top: 25px;
    display:inline;
    font-size:24px;
    color:gold;
}
.headerMenu {
    margin-left: 3%;
    margin-top: 25px;
    border-width: 0;
    color: white;
    background-color: #1a1a2e;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
}
.headerMenu:hover {
    background-color: #1a1a2e;
    color:gold;
}

.firstHeaderMenu {
    margin-left: 27%;
    margin-top: 25px;
    border-color: #1a1a2e;
    border-width: 0;
    color: white;
    background-color: #1a1a2e;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
}
.firstHeaderMenu:hover {
    background-color: #1a1a2e;
    color: gold;
}