@{
    ViewData["Title"] = "ShowLogInForm";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

@section Styles
{
    <link href="~/css/guest/logIn.css" rel="stylesheet" />
}

@if (ViewBag["error"] != null)
{
    <h4 class="error">someting went wrong. try to otenticate you details and try again</h4>
}

<h1>
    add method post to the form properties-> add action like href (http://localhost:XXXX/Customer/...)
    -> must contain name atribute to all the inputs this name must mutch the function parameter -> submit pass the info to Login/ signUp -> done work on view.
    *chek by only id if the client already exist

    controler ->
</h1>

