@{
    ViewData["Title"] = "ShowLogInForm";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

@section Styles
{
    <link href="~/css/customer/login.css" rel="stylesheet" />
}

@if (ViewBag.Error == true)
{
    <h4 class="error">Something went wrong. Authenticate your details and try again.</h4>
}

<div class="login-container">
    <div class="login-box">
        <h2 class="login-title">Login</h2>
        <form class="form-login" method="post" action="http://localhost:7287/Customer/LogIn">
            <label class="login-label">User Name</label>
            <input class="login-input" type="text" name="userName" id="userName" required />

            <label class="login-label">Password</label>
            <input class="login-input" type="password" name="password" id="password" required />
            <button class="login-button" type="submit"> Login</button>
        </form>
    </div>
</div>
