@{
    ViewData["Title"] = "ShowLogInForm";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

@section Styles
{
    <link href="~/css/customer/logIn.css" rel="stylesheet" />
}

@if (ViewBag.Error == true)
{
    <div class="Login-message error">
        <h2>Login Failed</h2>
        <p>Something went wrong. Authenticate your details and try again</p>
    </div>
}

<div class="login-container">
    <div class="login-box">
        <h2 class="login-title">Login</h2>
        <form class="form-login" method="post" action="https://localhost:7287/customer/LogIn">
            <label class="login-label">User Name</label>
            <input class="login-input" type="text" name="userName" value="manager" id="userName" required />

            <label class="login-label">Password</label>
            <input class="login-input" type="password" name="password" value="tmp1"  id="password" required />
            <button class="login-button" type="submit"> Login</button>
        </form>
    </div>
</div>
