.button-container {
    display: flex;
    justify-content: center;
    gap: 10px; /* Space between buttons */
    width: 100%;
    margin-top: 20px;
}

.submit, .clear {
    font-weight: bold;
    border: 3px solid gold;
    background-color: #1a1a2e;
    color: white;
    padding: 10px 20px;
    text-align: center;
    width: 100%;
    max-width: 250px;
}
