.formBounts {
    display: inline-block;
    margin-top: 20px;
    width: 500px;
    height: 80vh;
    position: absolute;
    padding: 25px;
    border: 2px gold solid;
    background-color: #1a1a2e;
    font-size: 16px;
    text-align:center;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.4);
}

input::placeholder {
    font-size: 12px;
    color: gold;
}

input {
    margin-top: 18px;
    position: relative;
}

label {
    margin-top: 10px;
    position: relative;
}

.textinputId {
    color: gold;
    border-radius: 5px;
    margin: 0;
    border: none;
    width: 250px;
    height: 28px;
    background-color: #22243d;
}

.password {
    color: gold;
    border-radius: 5px;
    border: none;
    width: 250px;
    height: 28px;
    background-color: #22243d;
}

.textinputPhone {
    color: gold;
    border-radius: 5px;
    border: none;
    width: 250px;
    height: 28px;
    background-color: #22243d;
}

.textinputUser {
    color: gold;
    border-radius: 5px;
    border: none;
    width: 250px;
    height: 28px;
    background-color: #22243d;
}

.cities {
    color: gold;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    width: 250px;
    height: 28px;
    background-color: #22243d;
}

.textinputHouseNumber {
    color: gold;
    border-radius: 5px;
    border: none;
    width: 250px;
    height: 28px;
    background-color: #22243d;
}

.streets {
    color: gold;
    border-radius: 5px;
    border: none;
    width: 250px;
    margin-top: 10px;
    height: 28px;
    background-color: #22243d;
}

.email {
    color: gold;
    border-radius: 5px;
    border: none;
    width: 250px;
    height: 28px;
    background-color: #22243d;
}

.image {
    color: gold;
    border-radius: 5px;
    border: none;
    width: 250px;
    height: 28px;
    margin-bottom: 10px;
    background-color: #22243d;
}

button {
    font-size: 14px;
    color: black;
    border-radius: 5px;
    margin-top: 10px;
}

#moreInfoError {
    margin-left: -468px;
}

#cityError {
    top: 330px;
    left: 675px;
}

.submit {
    font-weight: bold;
    border: 2px gold solid;
    background-color: #1a1a2e;
    color: white;
    width: 100px;
    height: 50px;
}

.error {
    position: absolute;
    font-size: 16px;
    color: red;
}

.clear {
    font-weight: bold;
    margin-left: 30px;
    border: 2px gold solid;
    color: white;
    background-color: #1a1a2e;
    width: 100px;
    height: 50px;
}

    .clear:hover,
    .submit:hover {
        color: gold
    }
