
@{
    ViewData["Title"] = "GetDifaultScreen";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<p class="bodyDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae<br />tincidunt neque. Fusce sodales accumsan interdum. Phasellus velit enim, maximus</p>
<img src="~/images/Icon.png" alt="restaurantIcon" class="bodyImg">
<div class="bodyExamples">
    <box-icon type='solid' class='bodyIcon' name='bowl-rice'></box-icon>
    <p class="bodyExamplesTitle">Quality Ingredients</p>
    <p class="bodyExampleDescription">Lorem ipsum dolor sit amet<br />consectetur adipiscing elit.</p>
</div>
<div class="bodyExamples">
    <box-icon type='solid' class='bodyIcon' name='coffee-alt'></box-icon>
    <p class="bodyExamplesTitle">Fresh Food</p>
    <p class="bodyExampleDescription">Lorem ipsum dolor sit amet<br />consectetur adipiscing elit.</p>
</div>
<div class="bodyExamples">
    <box-icon type='solid' name='cheese'></box-icon>
    <p class="bodyExamplesTitle">Master Chefs</p>
    <p class="bodyExampleDescription">Lorem ipsum dolor sit amet<br />consectetur adipiscing elit.</p>
</div>

