@using LiolamResteurent
@model Menu
@{
    ViewData["Title"] = "GetMenu";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<div class="Menu">
    @if (Model == null)
    {
        <h1 class="ERROR">The connection is lost try again later</h1>
    }
    else
    {
        @foreach (Dishes dish in Model.Dishes)
        {
            <div class="dish">
                <p class="dishName">@dish.DishName</p>
                <img src="@dish.DishImage" alt="dish Image" />
            </div>
        }
    }
</div>