@{
    ViewData["Title"] = "MasterPage";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link href="~/css/guest/masterpage.css" rel="stylesheet" />
<script src="~/javascript/guest/masterpage.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

@section Styles 
{
    
}
@RenderSection("Styles", required: false)
@section Js
{

}
@RenderSection("Js", required: false)

@if (!IsSectionDefined("Styles"))
{
    <link href="~/css/Guest/GetMenu.css" rel="stylesheet" />
}


<script src="~/javaScript/Guest/MenuAjax.js"></script>

<div class="header">
    <i class="fas fa-utensils headerIcon"></i>
    <p class="headerTitle">LioLam</p>
    
    @if (TempData["Id"] == null)
    {
        <a href="http://localhost:7287/Guest/GetDefaultScreen" class="firstHeaderMenu" onclk="HomePage()">Home</a>
        <a class="headerMenu" href="http://localhost:7287/Guest/GetMenu">Menu</a>
        <a class="headerMenu" href="http://localhost:7287/Customer/ShowLogInForm">LogIn</a>
        <a class="headerMenu" href="http://localhost:7287/Customer/ShowSignUpForm">SignUp</a>
    }
    else
    {
        <a href="http://localhost:7287/Customer/GetDefaultScreen" class="firstHeaderMenu" style="margin-left: 15%;" onclk="HomePage()">Home</a>
        <a href="http://localhost:7287/Guest/GetDefaultScreen" class="headerMenu">LogOut</a>
        <a href="http://localhost:7287/Customer/ShowEditSignUpForm" class="headerMenu">Edit Account Info</a>
        <a class="headerMenu">Reservations</a>
        <a class="headerMenu">Orders</a>
    }
</div>
<div class="body" id="body">
    @RenderBody()
</div>
<div class="footer">
    <p class="footerBles">We hope you enjoy your future meals with us!</p>
    <p class="footerphone">Contact us at 7777 for inquiries!</p>

    <div class="decorative-icons">
        <i class="fas fa-utensils"></i>
        <i class="fas fa-mug-hot"></i>
        <i class="fas fa-ice-cream"></i>
        <i class="fas fa-cookie-bite"></i>
    </div>
</div>