@{
    ViewData["Title"] = "MasterPage";
}

<link href="~/css/getmenu.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
<script src="/_framework/aspnetcore-browser-refresh.js"></script>
<link href="~/css/masterpage.css" rel="stylesheet" />
<script src="~/javascript/masterpage.js"></script>
    <div class="header">
        <i class="fas fa-utensils headerIcon"></i>
        <p class="headerTitle">LioLam</p>
        <a href="https://localhost:7287/" class="firstHeaderMenu" onclk="HomePage()">Home</a>
        @if(TempData["id"] == null)
        {
            <a href="https://localhost:7287/Guest/GetMenu" class="headerMenu">Menu</a>
            <a class="headerMenu">LogIn</a>
            <a class="headerMenu">SignUp</a>
        }
        @if(TempData["id"] != null)
        {
            <a href="https://localhost:7287/Guest/GetMenu" class="headerMenu">Menu</a>
            <a class="headerMenu">LogOut</a>
            <a class="headerMenu">Reservations</a>
            <a class="headerMenu">Orders</a>
        }
    </div>
    <div class="body">
        @RenderBody()
    </div>
    <div class="footer">
        <p class="footerBles">We hope you enjoy your future meals with us!</p>
        <p class="footerphone">Contact us at 7777 for inquiries!</p>
    </div>